@import '../base/var';
@import '../base/ani';

header {
    .menu {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 40px 0;

        .logo {
            width: 100px;
        }

        nav {
            margin-bottom: 10px;
            overflow: hidden;

            ul {
                animation-name: slideIn;
                animation-duration: 500ms;
                animation-delay: calc(800ms * 0.2);
                animation-fill-mode: both;

                li {
                    margin-left: 40px;
                }
            }
        }
    }
}