@import '../base/var';

header {
    .menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 40px 0;

        .logo {
            width: 100px;
        }

        nav {
            ul {
                li {
                    display: inline-block;
                    margin-left: 40px;

                    a:hover {
                        color: $brightTeal;
                    }
                }
            }
        }
    }
}