@import '../base/var';
@import '../base/ani';

header {
    .menu {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 40px 0;

        .logo {
            width: 100px;
        }

        nav {
            margin-bottom: 10px;
            overflow: hidden;

            ul {
                animation-name: slideIn;
                animation-duration: 500ms;
                animation-delay: calc(800ms * 0.2);
                animation-fill-mode: both;

                li {
                    display: inline-block;
                    margin-left: 40px;
                    position: relative;
                    padding-bottom: 8px;

                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 0;
                        height: 1px;
                        background-color: $brightTeal;
                        transition: width 400ms;
                    }

                    &:hover {
                        color: $brightTeal;

                        &:after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}