@import '../base/var';
@import '../base/ani';

.hero {

    .content {
        padding: 240px 0;

        .title {
            margin-bottom: 100px;

            h1 {
                margin-bottom: -0.05em;
                position: relative;
                left: -0.04em;
                animation: 700ms ease-out 0s 1 forwards slideDown;
                line-height: 1;
            }

            h2 {
                text-transform: uppercase;
                font-size: 1.8rem;
                font-weight: 200;
                letter-spacing: 0.25em;
                color: $brightTeal;
                animation: 800ms ease-out 0s 1 forwards slideUp;
                line-height: 1;
            }
        }

        .dev-icons {
            font-size: 3rem;

            ul {
                li {
                    display: inline-block;
                    margin-right: 20px;
                    position: relative;


                    h3 {
                        font-weight: 200;
                        text-transform: uppercase;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translate(-50%, 300%);
                        opacity: 0;
                        transition: all 200ms;
                        font-size: 0.8rem;
                        letter-spacing: 0.15em;
                    }

                    &:hover {
                        color: $brightTeal;

                        h3 {
                            transform: translate(-50%, 100%);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}