.projects {
    .project {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        &:nth-child(even) {
            flex-direction: row-reverse;
        }

        &:not(:last-child) {
            margin-bottom: 100px;
        }

        .info {
            width: 50%;

            .tech-stack {
                font-size: 1.5rem;

                li {
                    margin-right: 10px;
                }
            }

            hr {
                border: 0;
                height: 1px;
                background-color: $darkTeal;
                margin: 40px 0;
                opacity: 0.1;
            }
        }

        .screenshot {
            width: 50%;
            animation-name: mutatingClipPath;
            animation-duration: 5000ms;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }
    }
}