@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;800&display=swap');

body {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
}

p,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
    &:not(:last-child) {
        margin-bottom: 1em;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
}

h1 {
    font-size: 8rem;
    margin-bottom: 0.25em;
}

h2 {
    font-size: 2rem;
}