/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;800&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; color: inherit; text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

img { display: block; }

body { background-color: #0B0C10; color: white; }

.w-100 { width: 100%; }

.container { width: 90%; max-width: 1400px; margin: 0 auto; }

.container .content { padding: 100px 0; }

.underline-menu li { display: inline-block; position: relative; padding-bottom: 8px; }

.underline-menu li:after { content: ''; position: absolute; left: 0; bottom: 0; width: 0; height: 1px; background-color: #66FCF1; -webkit-transition: width 400ms; transition: width 400ms; }

.underline-menu li:hover { color: #66FCF1; }

.underline-menu li:hover:after { width: 100%; }

body { font-family: 'Poppins'; font-weight: 400; font-size: 1rem; }

p:not(:last-child), h2:not(:last-child), h3:not(:last-child), h4:not(:last-child), h5:not(:last-child), h6:not(:last-child), ul:not(:last-child), ol:not(:last-child) { margin-bottom: 1em; }

h1, h2, h3, h4, h5, h6 { font-weight: 800; }

h1 { font-size: 8rem; margin-bottom: 0.25em; }

h2 { font-size: 2rem; }

h3 { font-size: 1rem; }

@-webkit-keyframes slideDown { from { opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to { opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes slideDown { from { opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to { opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes slideUp { from { opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px); }
  to { opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes slideUp { from { opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px); }
  to { opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes slideIn { from { opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  to { opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes slideIn { from { opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  to { opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes spinItBaby { 20% { -webkit-transform: rotate(-10deg); transform: rotate(-10deg); }
  90% { -webkit-transform: rotate(calc(380deg)); transform: rotate(calc(380deg)); }
  100% { -webkit-transform: rotate(calc(360deg)); transform: rotate(calc(360deg)); } }

@keyframes spinItBaby { 20% { -webkit-transform: rotate(-10deg); transform: rotate(-10deg); }
  90% { -webkit-transform: rotate(calc(380deg)); transform: rotate(calc(380deg)); }
  100% { -webkit-transform: rotate(calc(360deg)); transform: rotate(calc(360deg)); } }

header .menu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; padding: 40px 0; }

header .menu .logo { width: 100px; }

header .menu nav { margin-bottom: 10px; overflow: hidden; }

header .menu nav ul { -webkit-animation-name: slideIn; animation-name: slideIn; -webkit-animation-duration: 500ms; animation-duration: 500ms; -webkit-animation-delay: calc(800ms * 0.2); animation-delay: calc(800ms * 0.2); -webkit-animation-fill-mode: both; animation-fill-mode: both; }

header .menu nav ul li { margin-left: 40px; }

@keyframes slideDown { from { opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to { opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes slideUp { from { opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px); }
  to { opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes slideIn { from { opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  to { opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes spinItBaby { 20% { -webkit-transform: rotate(-10deg); transform: rotate(-10deg); }
  90% { -webkit-transform: rotate(calc(380deg)); transform: rotate(calc(380deg)); }
  100% { -webkit-transform: rotate(calc(360deg)); transform: rotate(calc(360deg)); } }

.hero .content { padding: 240px 0; }

.hero .content .title { margin-bottom: 100px; }

.hero .content .title h1 { margin-bottom: -0.05em; position: relative; left: -0.04em; -webkit-animation: 700ms ease-out 0s 1 forwards slideDown; animation: 700ms ease-out 0s 1 forwards slideDown; }

.hero .content .title h2 { text-transform: uppercase; font-size: 1.8rem; font-weight: 200; letter-spacing: 0.25em; color: #66FCF1; -webkit-animation: 800ms ease-out 0s 1 forwards slideUp; animation: 800ms ease-out 0s 1 forwards slideUp; }

.hero .content .dev-icons { font-size: 3rem; }

.hero .content .dev-icons ul li { display: inline-block; margin-right: 20px; position: relative; }

.hero .content .dev-icons ul li h3 { font-weight: 200; text-transform: uppercase; position: absolute; bottom: 0; left: 50%; -webkit-transform: translate(-50%, 300%); transform: translate(-50%, 300%); opacity: 0; -webkit-transition: all 200ms; transition: all 200ms; font-size: 0.8rem; letter-spacing: 0.15em; }

.hero .content .dev-icons ul li:hover { color: #66FCF1; }

.hero .content .dev-icons ul li:hover h3 { -webkit-transform: translate(-50%, 200%); transform: translate(-50%, 200%); opacity: 1; }

footer ul { padding: 40px 0; }

footer ul li { margin-right: 40px; }
